@font-face {
  font-family: 'base';
  src:  url('fonts/base.eot?p7nw1m');
  src:  url('fonts/base.eot?p7nw1m#iefix') format('embedded-opentype'),
    url('fonts/base.ttf?p7nw1m') format('truetype'),
    url('fonts/base.woff?p7nw1m') format('woff'),
    url('fonts/base.svg?p7nw1m#base') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mintui-"], [class*=" mintui-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'base' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mintui-account-mode:before {
  content: "\e90f";
}
.mintui-distribute:before {
  content: "\e910";
}
.mintui-distribute-user:before {
  content: "\e911";
}
.mintui-info2:before {
  content: "\e912";
}
.mintui-modify:before {
  content: "\e913";
}
.mintui-modify1:before {
  content: "\e914";
}
.mintui-policy:before {
  content: "\e915";
}
.mintui-policy1:before {
  content: "\e916";
}
.mintui-power:before {
  content: "\e920";
}
.mintui-profit1:before {
  content: "\e917";
}
.mintui-profit2:before {
  content: "\e918";
}
.mintui-sign:before {
  content: "\e919";
}
.mintui-field-error:before {
  content: "\e922";
  color: #515151;
}
.mintui-card:before {
  content: "\e921";
}
.mintui-pos:before {
  content: "\e923";
}
.mintui-search:before {
  content: "\e924";
}
.mintui-field-success:before {
  content: "\e925";
  color: #515151;
}
.mintui-arrow_down-left:before {
  content: "\e91a";
  color: #515151;
}
.mintui-arrow_down:before {
  content: "\e91b";
}
.mintui-close:before {
  content: "\e91c";
}
.mintui-calendar:before {
  content: "\e900";
}
.mintui-microphone:before {
  content: "\e901";
}
.mintui-cog:before {
  content: "\e926";
}
.mintui-time:before {
  content: "\e902";
}
.mintui-locked:before {
  content: "\e903";
}
.mintui-grid:before {
  content: "\e927";
}
.mintui-grid2:before {
  content: "\e928";
}
.mintui-list2:before {
  content: "\e929";
}
.mintui-list:before {
  content: "\e904";
}
.mintui-chat:before {
  content: "\e92a";
}
.mintui-chat2:before {
  content: "\e92b";
}
.mintui-rotate:before {
  content: "\e905";
}
.mintui-add:before {
  content: "\e906";
}
.mintui-minus:before {
  content: "\e907";
}
.mintui-chat-3:before {
  content: "\e91d";
}
.mintui-users:before {
  content: "\e908";
}
.mintui-user:before {
  content: "\e909";
}
.mintui-users2:before {
  content: "\e91e";
}
.mintui-user2:before {
  content: "\e91f";
}
.mintui-camera:before {
  content: "\e90a";
}
.mintui-vcard:before {
  content: "\e90b";
}
.mintui-mapmarker:before {
  content: "\e90c";
}
.mintui-home:before {
  content: "\e90d";
}
.mintui-newspaper:before {
  content: "\e90e";
}
.mintui-qrcode:before {
  content: "\e938";
}
.mintui-coin-yen:before {
  content: "\e93e";
}
.mintui-credit-card:before {
  content: "\e93f";
}
.mintui-mobile:before {
  content: "\e958";
}
.mintui-user-plus:before {
  content: "\e973";
}
.mintui-briefcase:before {
  content: "\e9ae";
}
.mintui-shield:before {
  content: "\e9b4";
}
.mintui-menu:before {
  content: "\e9bd";
}
.mintui-eye:before {
  content: "\e9ce";
}
.mintui-eye-blocked:before {
  content: "\e9d1";
}
.mintui-question:before {
  content: "\ea09";
}
.mintui-info:before {
  content: "\ea0c";
}
.mintui-cancel-circle:before {
  content: "\ea0d";
}
.mintui-cross:before {
  content: "\ea0f";
}
.mintui-checkmark:before {
  content: "\ea10";
}
.mintui-share:before {
  content: "\ea7d";
}
.mintui-share2:before {
  content: "\ea82";
}
.mintui-safari:before {
  content: "\eadd";
}
