@media screen and (min-width: 500px) {
  .el-dialog--center .el-dialog__header{
    padding-top: 15px !important;
    padding-bottom: 10px;
  }
  // 表格数据样式
  body{
    overflow: hidden;
  }
  .small-line{
    padding: 0 10px;
  }
  .admin-page {
    position: relative;
    // background: #eff2f5;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    .tablelist-box{
      position: relative;
      justify-content: space-between;
      flex: 1;
      display: flex;
      height: 100%;
      flex-direction: column;
    }
     .line-box-center {
         padding: 4px 0;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom:1px solid #ebeef5
      }
     .line-box-left {
         padding: 4px 0;
        display: flex;
        justify-content: flex-start;
        // margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom:1px solid #ebeef5
      }
      // .detail-content{
      //   display: table;
      //   width: 100%;
      //   .line-label-box{
      //     display: table-row;
      //      padding: 0 10px;
      //      text-align:justify;
      //      text-align-last: justify;
      //     .line-label{
      //       display: table-cell;
      //     }
      //     .line-label-last{
      //        display: table-cell;
      //     }
      //   }
      // }
    .detail-content {
     
      .line-label-box {
        padding: 4px 0;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        //  text-align:justify;
          //  text-align-last: justify;
        .line-label {
          // min-width: 100px;
          word-break: break-all;
          padding: 0 10px;
          white-space: nowrap;
         
        }
        .line-label-last{
           
             flex:1;
          word-break: break-all;
          padding: 0;
        }
        &:nth-child(odd) {
          // background-color: rgba(0, 193, 223, 0.1);
          //  background: #fafafa;
          //  border-bottom: 1px solid #ebeef5
        }
        &:nth-child(even) {
          // border-bottom: 1px solid #ebeef5;
          // background-color: #fff;
        }
      }
      .cross-back{
        &:nth-child(odd) {
           background: #fafafa;
           border-bottom: 1px solid #ebeef5;
          //  border-bottom: 1px solid #ebeef5
        }
        &:nth-child(even) {
          background-color: #fff;
          border-bottom: 1px solid #ebeef5;
        }
      }
    }
    .content-center-box {
      text-align: center;
    }
    .sep-inline {
      margin: 5px 0;
      width: 100%;
    }
    .operation-box {
      float: left;
      width: 100%;
      // display: block;
       display: flex;
    flex-shrink: 0;
      &:after{
        content: "";
        display: block;
        clear: both;
      }
      .button-group {
        margin-right: 10px;
      }
      .line {
        text-align: center;
      }
    }
    .operation-group {
      padding: 5px 0;
      .line {
        text-align: center;
      }
    }
    .page-tag {
      margin-bottom: 10px;
    }
    .admin-main-box {
      padding: 10px;
      padding-bottom: 0px;
      position: relative;
      display: block;
      height: 100%;
      // width: 100%;
      // flex: 1;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: flex-start
      // flex-direction: row
    }
    .form-box {
      margin-top: 10px;
    }

    .tip-text {
      color: #67c23a;
    }
    .button-group {
      padding-bottom: 5px;
    }

    .fieldset-box {
    fieldset {
      border: 1px solid #eee;
      border-left: 0;
      border-right: 0;
      margin-top: 16px;
      padding: 8px;
      legend {
        font-size: 14px;
        .small {
          font-size: 12px;
          color: #67c23a;
        }
      }
    }
  }
    .full-width {
      width: 100%;
      .el-cascader {
        width: 100%;
      }
      .el-select {
        width: 100%;
      }
    }
    .dialog-title {
      background: rgba(0, 193, 223, 0.1);
      height: 30px;
      line-height: 30px;
      text-indent: 10px;
      margin-bottom: 10px;
    }
    .tip-text {
      font-size: 12px;
      line-height: 18px;
      color: #67c23a;
    }
  }
  .operation-box {
   
  .sumtext {
    font-size: 14px;
    padding-left: 10px;
    line-height: 32px;
    color: #606266;
    display: inline-block;
    float: left;
  }
}
}