@media screen and (min-width: 500px) {
 .rotate90 {
  transform: rotate(90deg);
}
.rotate180 {
  transform: rotate(180deg);
}
.rotate270 {
  transform: rotate(270deg);
}
.rotate0 {
  transform: rotate(0deg);
}
.largeButgroup {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 1;
  height: 50px;
  text-align: right;
  .but {
    cursor: pointer;
    font-size: 24px;
  }
}
.scroll-view-cus {
  // touch-action: none;
  /* -- Attention-- */
  position: absolute;
  top: 0;
  bottom: 15px;
  left: 0;
  right: 0;
  // overflow: hidden;
  overflow: auto;
}
.product-detail-body {
  // height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  // height: 100%;
  flex:1;
  .detaile-left {
    flex: 4;
    flex-shrink: 0;
    position: relative;
   display: flex;
   align-items: stretch;
   flex-direction: column;
  }
  .detaile-right {
    flex: 6;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ebeef5;
   align-items: stretch;
   position: relative;
    .scroll-box {
      position: relative;
      // width: 100%;
      // flex-basis: 100px;
      height: 100px;
      padding: 0 20px;
      // width: 90%;
      overflow: hidden;
    }
    .tags-view-wrapper {
      // background: red;
      flex-shrink: 0;
      border-bottom: 1px solid #ebeef5;
      flex-basis: 100px;
      .imgs-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        // padding: 5px;
        .img-box {
          margin: 5px;
          width: 90px;
          height: 90px;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          align-items: stretch;
          .img-title {
            width: 100%;
            flex-basis: 20px;
            line-height: 20px;
            font-size: 10px;
          }
          .img-back {
            border: 1px solid #ebeef5;
            width: 100%;
            height: 70px;
            box-sizing: border-box;
            position: relative;
            text-align: center;
            vertical-align: middle;
            &:after {
              content: "";
              display: inline-block;
              height: 100%;
              vertical-align: middle;
              text-align: center;
              // content: "暂无图片";
              // display: block;
              // position: absolute;
              // left: 0;
              // top: 0;
              // right: 0;
              // bottom: 0;
              // background: #ebeef5;
              // text-align: center;
              // z-index: 1;
              // line-height: 70px;
            }
            img {
              vertical-align: middle;
              text-align: center;
              position: relative;
              z-index: 2;
              cursor: pointer;
              max-width: 100%;
              max-height: 100%;
              transition: all 0.3s ease-in 0s;
              &:hover {
                transform: translateY(-3px);
                -ms-transform: translateY(-3px); /* IE 9 */
                -webkit-transform: translateY(-3px); /* Safari and Chrome */
                -o-transform: translateY(-3px); /* Opera */
                -moz-transform: translateY(-3px);
              }
            }
          }
        }
      }
    }
    .large-img-box {
      text-align: center;
      flex: 1;
      display: flex;
      align-items: stretch;
      // padding: 10px;
      overflow: hidden;
      flex-direction: column;
      position: relative;
    }
    .large-img {
      text-align: center;
      flex: 1;
      overflow: hidden;
      position: relative;

      position: absolute;
      top: 0;
      bottom: 10px;
      right: 0;
      left: 0;
      &:after {
        content: " ";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        // min-width: 300px;
        // height: 100%;
      }
    }
  }
}
.detail-box-pro{
    .line-label-box{
    justify-content:flex-start !important;
      border-bottom: 1px solid #ebeef5;
      // border-right: 1px solid #ebeef5;
      padding: 0px !important;
      width: 100% !important;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      &.split{
 justify-content:space-between !important;
      }
      .line-cell{
        // width: 100%;
        // min-width: 300px;
        // flex: 1;
        // display: flex;
        // align-items: stretch;
        span.line-label-last{
          min-width: 100px;
        }
      }
      .lable-title{
        display: inline-block;
        width: 80px;
        text-align: right;
        border-right: 1px solid #ebeef5;
        // border-left:1px solid #ebeef5;
        padding-right: 10px;
        padding-left: 10px;
      }
      .line-label-last{
        display: inline-block;
        // max-width: 100px;
      }
      span{
        // display: table-cell;
        padding: 5px !important;
      }
    }
    .gray-back{
      background:  #fafafa;;
    }
  }
}
